<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">Calorie IN vs. Calories OUT<h1>
          <h2 class="subtitle">Stay Healthy! Stay on Track!</h2>
          <h2 id="Date" class="title is-1"></h2>
    </div>
  </div>
</section>

<div class="row">
  <div class="columns">
    <div class="column">
      <div class="card">
        <div class="card-content">
          <h2 class="title">What have you eaten today?</h2>
          <h3 class="subtitle">Returns list of items.</h3>
        </div>
        <footer class="card-footer">
          <div class="card-footer-item">
            <label for="foodTextEntry">Enter a food here: </label>
            <input id="foodTextEntry" type="text" />
            <a href="#" class="button is-success" id="searchButton">
              <i class="fas fa-thumbs-up"></i>
            </a>
          </div>
        </footer>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="card-content">
          <h2 class="title">Can't find the food you've searched for?</h2>
          <h3 class="subtitle">Manually Enter Below.</h3>
        </div>
        <footer class="card-footer">
          <div class="card-footer-item">
            <label for="customFoodTextEntry">Enter a food here: </label>
            <input id="customFoodTextEntry" type="text" />
          </div>
        </footer>
        <footer class="card-footer">
          <div class="card-footer-item">
            <label for="enterCustomCalories">Enter Caloric Value: </label>
            <input id="enterCustomCalories" type="text" />
            <a href="#" class="button is-success" id="customButton">
              <i class="fas fa-thumbs-up"></i>
            </a>
          </div>
        </footer>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="card-content">
          <h2 class="title">Calories burned today?</h2>
          <h3 class="subtitle">Enter the number of Calories you've burned today!</h3>
        </div>
        <footer class="card-footer">
          <div class="card-footer-item">
            <label for="enterBurnedCalories">Enter your calories burned: </label>
            <input id="enterBurnedCalories" type="text" />
            <a href="#" class="button is-success" id="caloriesBurnedButton">
              <i class="fas fa-thumbs-up"></i>
            </a>
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="columns">
    <div class="column">
      <div class="card">
        <div class="card-content">
          <h2 class="title">Items Searched will appear here: </h2>
          <h3 class="subtitle">Click the button to add food eaten:</h3>
          <ul class="food-list"></ul>
        </div>
        <footer class="card-footer">
          <div class="card-footer-item">
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="columns">
    <div class="column">
      <div class="card">
        <div class="card-content">
          <p>Calories Consumed: daily max is set to 3,000</p>
          <progress class="progress is-small is-primary" id="progressIn" value="0" max="3000">15%</progress>
          <h2 class="title" id="caloriesIn"></h2>
          <p>Calories Burned: daily max is set to 3,000</p>
          <progress class="progress is-small is-danger" id="progressOut" value="0" max="3000">15%</progress>
          <h2 class="title" id="caloriesOut"></h2>
        </div>
      </div>
    </div>
  </div>
</div>