{{!-- <form class="food-search-form"> --}}
  <label for="findtext">Find: </label>
  <input id="findtext" type="text" />
  <button class="button" id="searchButton"><i class="fa fa-search"></i></button>
{{!-- </form> --}}