.food-button {
    margin-left: 1%;
    margin-top: .1%;
    margin-bottom: .1%;
}

.food-list {
    margin-top: 1%;
}

#searchButton {
    margin-left: 1%;
}

#customButton {
    margin-left: 1%;
}

#caloriesBurnedButton {
    margin-left: 1%;
}

#Date {
    margin-top: 1%;
    margin-left: 5%;
}

#foodTextEntry {
    margin-left: 1%;
}

#customFoodTextEntry {
    margin-left: 1%;
}

#enterCustomCalories {
    margin-left: 1%;
}